.headerContainer {
    padding: 5rem;
    background: #68ac90;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  .headerTitle {
    color: #0c19cf;
    font-size: 4rem;
  }
  
    
  .headerImage {
    width: 28%;
  }
  
  @media(max-width: 765px) {
    .headerImage {
      width: 100%;
    }
  }