.sobreContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bioTitle {
    font-size: 3rem;
    padding: 2rem;
    color: #68ac90
  }
  
  .bioContainer {
    width: 40rem;
  }
  
  .bioImage {
    width: 40%;
  }
  
  .bioText {
    text-align: center;
    padding: 2rem;
    font-size : 1.2rem;
    color: #474a51
  }
  
  @media(max-width: 765px) {
    .sobreContainer {
      display: flex;
      flex-direction: column;
    }
  
    .bioImage {
      width: 100%;
    }
  }